<div class="container">
    <div class="heading">
        <h1>MIXMAG SCRAPER</h1>
        <a href="/scrape" class="btn waves-effect waves-purple blue lighten-1">SCRAPE NEW ARTICLES</a>
    </div>
    <div class="row">
        {{#each result}}
        <div class="col l4 m6 s12">
            <div class="card indigo darken-2">
                <div class="card-content white-text">
                    <span class="card-title">{{this.title}}</span>
                    <p>{{this.summary}}</p>
                    <a href="{{this.link}}">{{this.link}}</a>
                </div>

                <div class="comment_button center-align">
                    <a class="waves-effect waves-purple btn modal-trigger open-comment blue lighten-1"
                        data-id="{{this.id}}" href="#modal{{this.id}}">Comments</a>
                </div>

            </div>
        </div>

        <!-- Modal Structure -->
        <div id="modal{{this.id}}" class="modal" data-id="{{this.id}}">
            <div class="modal-content">
                <h5 class="center-align">{{this.title}}</h5><br />
                <h6>Comments:</h6>
                <div id="comments">
                </div>
                <form onsubmit="return false"><br />
                    <h6>Add Comment:</h6>
                    <input type="text" id="userComment"/>
            </div>
            <div class="modal-footer">

                <a class="save-comment waves-effect waves-purple btn blue lighten-1"
                    data-id="{{this.id}}">Save Comment</a>
                </form>
            </div>
        </div>


        {{/each}}
    </div>
</div>
</div>